@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
header {
    line-height: 1.5;
    padding: 10px;
    background-color: #b2b5b9;
    color: rgb(0, 0, 0);
    border: solid;
    border-color: black;
    border-width: 0.625em;
    width: 11.375em;
    height: 11.375em;
    text-align: center;
    margin: auto;
}

main {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    border: solid;
    border-color: black;
    border-width: 0.625em;
    width: 6.24em;
    height: 6.24em;
    margin: 6.24em;
    position: absolute;
    
}

footer {
    margin-left: 350px;
    background-color: #e5ff00;
    color: rgb(0, 0, 0);
    border: solid;
    border-color: black;
    border-width: 0.625em;
    width: 6.24em;
    height: 6.24em;
    margin-top: 6.24em;
    margin-bottom: 6.24em;
}